%section.container
  .row.page-headline
    .col-lg-12.text-center
      %h1 Trusted #{@ct}. Rated, Reviewed, Tested.

%section.form-section
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-6.steps
        %h3 Find the Right #{@ct_singular}<br> in 3 Easy Steps:
        %ul
          %li.block-1
            %span
              %i.icon
            <strong>1.</strong> Post a Job
          %li.block-2
            %span
              %i.icon
            <strong>2.</strong> Review Applicants
          %li.block-2
          %li.block-3
            %span
              %i.icon
            <strong>3.</strong> Hire and Get Started!

        %hr/

        .testimonial
          %blockquote
            %p "With oDesk there is already this huge talent pool &mdash; I can put together my job description and start interviewing immediately."
            %small.author.pull-right.text-right Marjorie Asturias<br>Presitent & CEO of Blue Volcano Media

      .col-lg-5.col-sm-6.the-form
        - if request.params.has_key?('confirmation')
          = haml :_confirmation
        - else
          = haml :_form

%section#contractors.contractors
  .wrapper
    .nav
      %a.left-arrow.disabled{href: '#'}
      %a.right-arrow.disabled{href: '#'}
    %ul.tiles
      - @profiles.each do |profile|
        %li.tile
          %article
            %header
              %h3= highlight(profile[:title], @keyword)
            .profile
              .desc
                %p= highlight(profile[:desc], @keyword)
              .skills
                - profile[:skills].each do |skill|
                  %span= highlight(skill, @keyword)
            %footer
              - if ENV['PROFILE_IMAGE_LINK'] == 'true'
                %a{href: "//www.odesk.com/users/#{profile[:hash]}", target: '_blank'}
                  %img.image{src: profile[:portrait_50], alt: profile[:name]}
              - else
                %img.image{src: profile[:portrait_50], alt: profile[:name]}
              .info
                .name= profile[:name]
                .country= profile[:country]
              .rate
                .dollars $#{'%.2f' % profile[:rate].to_f}
                .label hourly rate

      %li.tile.cta
        %a{href: 'https://www.odesk.com/signup/create-account/'}
          .content.text-center
            %p ... and #{@profile_count} more<br>#{@ct}<br>ready to work
            %br/

            %strong Get Applications Fast

  .stats
    .container
      .row
        .col-lg-12.text-center
          %h2 oDesk at a Glance
        .col-xs-4.text-center.dev-count
          %strong 4.5M+
          Freelancers
        .col-xs-4.text-center.complete-count
          %strong 900,000+
          Clients
        .col-xs-4.text-center.project-count
          %strong $1B+
          Work Done
