!!! 5
%html{lang: 'en-us'}
  %head
    %meta{name: 'robots', content: 'noodp,nodir,noydir'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=yes'}
    %meta{name: 'alexaVerifyID', content: 'jLn8sS342tB8jpIVZLQVC_AFpLg'}

    %title oDesk - Hire the Right #{@ct_singular}.

    %link{rel: 'shortcut icon', href: '//www.odesk.com/favicon.ico', type: 'image/x-icon'}

    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/app.css'}

    %script{src: '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'}

    = haml :_mixpanel, layout: false

  %body.oLanding

    %header.page-header.text-center{role: 'banner'}
      .container
        .row
          %img{src: '/images/logo.svg', width: 123, height: 33}
          %a.sign-up{href: 'https://www.odesk.com/signup/user-type'} Sign Up

    %main.page-main= yield

    - if ENV['ENABLE_SEARCH_PANEL'] == 'true' or params[:sp] == '1'
      %section.search-panel
        .container
          .row
            = haml :'_search-panel', layout: false

    %section.featured-clients
      .container
        .wrapper.text-center
          %p
            %em More than <strong>900,000 companies</strong> use oDesk including:
          %hr/

          %ul
            %li.client-logo.text-left
              %img{src: '/images/clients/opentable.svg', width: 97}
            %li.client-logo.text-left
              %img{src: '/images/clients/pinterest.svg', width: 113}
            %li.client-logo.text-center
              %img{src: '/images/clients/panasonic.svg', width: 134}
            %li.client-logo.text-center
              %img{src: '/images/clients/unilever.svg', height: 56}
            %li.client-logo.text-right
              %img{src: '/images/clients/thumbtack.svg', width: 149}

          %a.btn.btn-lg.btn-submit{href: '#'} Get Applications Fast

    %footer.page-footer.text-center
      %img.footer-logo{src: '/images/logo.svg', alt: 'oDesk', width: 102, height: 27}
      %p.copy= "&copy; 2003-#{Time.now.year} oDesk Corporation."

    %img{style: 'position: absolute', width: 1, height: 1, src: "https://www.odesk.com#{request.path_info}?vt_ref=#{URI.escape(request.referrer.to_s)}&#{request.query_string}", alt: ''}

    %script{src: '/js/jquery.mobile.custom.min.js'}
    %script{src: '/js/app.js'}

    %script{src: "//cdn.optimizely.com/js/#{settings.optimizely_token}.js"}

    :javascript
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', '#{settings.ga_account}']);
      _gaq.push(['_setDomainName', '.odesk.com']);
      _gaq.push(['_trackPageLoadTime']);
      if(document.cookie.indexOf("recognized=") !== -1){
        _gaq.push(['_setCustomVar', 1, 'visitor-type', 'recognized', 2])
      }
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    :coffee
      mixpanel.track "PageView",
        vt_kw: "#{@vt_kw}"
        vt_adg: "#{@vt_adg}"
        vt_cmp: "#{@vt_cmp}"
        query: "#{@query}"
        profile_count: "#{@profile_count.gsub(',', '')}"
        profile_ids: [#{@profiles.map { |p| "'#{p[:hash]}'" }.join(', ')}]
