!!! 5
%html{lang: 'en-us'}
  %head
    %meta{name: 'robots', content: 'noodp,nodir,noydir'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=yes'}
    %meta{name: 'alexaVerifyID', content: 'jLn8sS342tB8jpIVZLQVC_AFpLg'}

    %title oDesk - Hire the Right #{@ct_singular}.

    %link{rel: 'shortcut icon', href: '//www.odesk.com/favicon.ico', type: 'image/x-icon'}

    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/app.css'}

    %script{src: '/js/custom.modernizr.js'}

    = haml :_mixpanel, layout: false

  %body.oLanding

    %header.page-header.text-center{role: 'banner'}
      .container
        .row
          %a.logo{href: '/'}
            %img{src: '/images/logo.svg', width: 123, height: 33}
          %a.sign-up{href: 'https://www.odesk.com/signup/user-type'} Sign Up

    %main.page-main= yield

    - if params[:sp] != '0' or ENV['ENABLE_SEARCH_PANEL']
      %section.search-panel
        .container
          .row
            = haml :'_search-panel', layout: false

    %section.featured-clients
      .container
        .wrapper.text-center
          %p
            %em More than <strong>900,000 companies</strong> use oDesk including:
          %hr/

          %ul
            %li.client-logo.text-left
              %img{src: '/images/clients/opentable.svg', width: 97}
            %li.client-logo.text-left
              %img{src: '/images/clients/pinterest.svg', width: 113}
            %li.client-logo.text-center
              %img{src: '/images/clients/panasonic.svg', width: 134}
            %li.client-logo.text-center
              %img{src: '/images/clients/unilever.svg', height: 56}
            %li.client-logo.text-right
              %img{src: '/images/clients/thumbtack.svg', width: 149}

          %a.btn.btn-lg.btn-submit{href: '#'} Get Applications Fast

    %footer.page-footer.text-center
      %img.footer-logo{src: '/images/logo.svg', alt: 'oDesk', width: 102, height: 27}
      %p.copy= "&copy; 2003-#{Time.now.year} oDesk Corporation."

    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{src: '/js/jquery.mobile.custom.min.js'}
    %script{src: '/js/app.js'}

    %script{src: "//cdn.optimizely.com/js/#{settings.optimizely_token}.js"}
